body{
        background-color: #111;
}
.welcome-container{
        text-align: center;
        justify-content: center;
        align-items: center;
}
nav{
        color: #111 !important;
        background-color: #111;
        font-family:'Courier New', Courier, monospace;
}
.nav-link.active{
        background-color: seagreen !important;
        color: #111 !important;
        font-family: 'Courier New', Courier, monospace;
        filter: brightness(1.6);
}
.nav-link{
        background-color: blueviolet !important;
        color: #111 !important;
        font-family: 'Courier New', Courier, monospace;
        transition: transform 0.25s cubic-bezier(.5,.2,.1,1.2);
}
.nav-link:hover{
    transform: scale(1.02);
    filter: brightness(1.6);
}
h3{
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    background-color: seagreen;
    flex-basis: 250px;
    margin: 10px;
}
.card img{
    border-radius: 5%;
}
.btn.btn-roxo{
    background-color:blueviolet !important;
    color: #111;
    transition: transform 0.25s cubic-bezier(.5,.2,.1,1.2);
}
.btn.btn-roxo:hover{
    transform: scale(1.02);
    filter: brightness(1.3);

}
.bolota{
    width: 300px;
    height:300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: #111;
    transition: transform 0.3s
    cubic-bezier(0.25, 0.46, 0.45, 1.4), filter 0.2s ease;
    cursor: pointer;
}
.bolota img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bolota:hover{
    filter: brightness(1.3);
    transform: scale(1.07);
}